@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Cabin');
/*----------------------------------------------------------------
	Branding Colour
----------------------------------------------------------------*/
h2,hr {
	font-size: 35px;
    color: #997000;
}
#services p, body, .formbuilder-form label {
    color: #111;
}
#contact p,#header2b a,#header2b a:hover, #banner h1, #banner p, .contact_detail, .contact_detail a, .contact_detail a:hover, .contact_detail a:focus{
	color: #fff;
}
#services h3 {
    font-weight: 600;
    color: #333;
}
header span, #header2a a:hover, #header2a:before {
     color: #f9aa1a;
 }
#contact hr, #contact h2 {
    color: #fff;
}
.formbuilder-form label {
	font-weight:400;
}
#contact hr {
    border: 1px solid #fff;
}
hr {
    border: 1px solid #997000;
	margin-top:-10px;
}
.formbuilder-form label, h2, h3, .btn, .formbuilder-form input#submit-form,.formbuilder-form input#submit-form:hover, .formbuilder-form input#submit-form:focus, .formbuilder-form input#submit-form:active, .open>.dropdown-toggle.btn , #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:focus, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:active, .open>.dropdown-toggle.btn {
    text-transform: uppercase;}
#header2b a,.btn, .btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn, .formbuilder-form input#submit-form,.formbuilder-form input#submit-form:hover, .formbuilder-form input#submit-form:focus, .formbuilder-form input#submit-form.active, .open>.dropdown-toggle.btn , #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form, .formbuilder-form input#submit-form:hover, .formbuilder-form input#submit-form:focus, .formbuilder-form input#submit-form:active, .formbuilder-form input#submit-form.active, .open>.dropdown-toggle.btn, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:focus, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:active, .open>.dropdown-toggle.btn, #contact2f, #contact2e, .contact_detail a, .contact_detail a:hover, .contact_detail a:focus {
    text-decoration: none;}

/*----------------------------------------------------------------
- Form -*/
.form, #quote_form_form, #extraFormsContainer .modal-dialog {
	border-radius: 5px;
    box-shadow: 0 10px 15px 2px rgba(0,0,0,.2);
    background-color: rgba(255, 255, 255, 0.88);
}

/*----------------------------------------------------------------
- Buttons -*/
.btn{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
}
.formbuilder-form input#submit-form, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form  {
    background-color: #f5b500;
    color: #000;
    border-radius: 15px;}
@media (min-width: 711px) {
.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn{
    color: #f5b500;
    background: rgba(255,255,255,0.1);
    border: 2px solid #f5b500;
    border-radius: 30px;
    transition: all 200ms ease-in;
    transform: scale(1.1);
}}

.formbuilder-form input#submit-form:hover, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover  {
    background-color: #ffc455;
    color: #000;
    z-index: 2;
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
/*----------------------------------------------------------------
	Custom Styles
----------------------------------------------------------------*/

/*----------------------------------------------------------------
- Font Family -*/
h1, h2, h3, h4,.btn, .formbuilder-form input#submit-form, #extraFormsContainer .modal-dialog .formbuilder-form input#submit-form {
	font-family: 'Cabin', Arial, Helvetica, sans-serif;
}
/*----------------------------------------------------------------
- Header -*/
#header{
    padding: 0px;
}
#header1 img {
    background-color: rgb(255,255,255);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#header2b a{
    line-height:30px;
    font-size: 26.5px;
}
#header2a {
	font-size: 45px;
}
#header2a:before{
	font-size: 40px;
	content: '\f098';
	padding-right: 5px;
}
/*----------------------------------------------------------------
- Banner -*/
#banner h1, #banner p,#header2a:before,header span,header a, #header2b a {
    text-shadow: 0 0.075em 0.075em rgba(28, 27, 27, 0.5);
}
#banner h1 {
    font-size:65px;
}
#banner p {
	font-weight: 400;
}
.banner_cover {
    opacity: 0.6;
    background-color:#000;}
#banner, #banner h1 {
    margin:0;
    text-align: center;
}
/*--
/*----------------------------------------------------------------
- Services -*/
#services{
    border-top: 5px solid #f9ab1a;
    border-bottom: 5px solid #f9ab1a;
}
#service1,#service2,#service3,#service4{
    transition: 0.2s 0.2s ease-out;
    padding: 25px 10px 25px 10px;}
#service1:hover,#service2:hover,#service3:hover,#service4:hover{
    transform: scale(1.1);
    border: 1px solid #ffaf47;
    background: rgba(255, 226, 189, 0.2);
}
    
/*----------------------------------------------------------------
- Content -*/
#content .img-responsive {
    transition: 0.2s 0.2s ease-out;}
#content .img-responsive:hover {
    transform: scale(1.05);}
#content1b, #content2a, #content3a {
    padding-top:10px;
}
/*----------------------------------------------------------------
- Contact -*/
#contact h2{text-align: center;}
#contact1 {
    margin-left: 15%;
    margin-right: 10%;
    width: 70%;}
/*----------------------------------------------------------------
    Footer
----------------------------------------------------------------*/
footer *, footer a , footer {
    color: #1a1a1a;}
footer {
    background-color: #f9ab1a;
    padding: 25px 0 25px;}
/*----------------------------------------------------------------
	Hide Blocks
----------------------------------------------------------------*/
#contact1b,#contact2,#content4,#content5,#content6 {display: none;}
/*----------------------------------------------------------------
	Media Queries
----------------------------------------------------------------*/
@media only screen and (min-width: 1200px){
    #content1a, #content2b, #content3a{width: 55%;}
    #content1b, #content2a, #content3b{width: 45%;}
    #content img {width:100%;}
}
@media only screen and (max-width: 767px) and (min-width: 0px)  {
    #banner, #banner h1, #contact h2 {text-align:center;}
    #banner h1 {font-size:45px;}
	#header2 {padding-top:3px}
	#header2b a{
		font-size:24px;
		line-height:20px;
	}
	#header2a {
		font-size: 40px;
	}
	#header2a:before{
		font-size: 35px;
		content: '\f098';
		padding-right: 5px;
	}
    .content_block{padding-bottom:20px;}
    #contact1{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;}
    #service1:hover,#service2:hover,#service3:hover,#service4:hover{transform: scale(1.0);}
}
@media (max-width: 767px) {#service3 {clear:left }}

/*- Animation & Extras-*/
#wrapper {display: flex; flex-direction: column;}
#services { order: 2; }
#banner { order: 1; }
#content { order: 3; }
#contact { order: 4; }
footer { order: 5; }
#banner1 {
    animation:move 2s ease;
    width: 100%;}
	@-webkit-keyframes move {
	  from {transform: scale(0.8);opacity:0;}
	  to {transform: scale(1.0);opacity:1;}}